In [5]:
import pandas as pd
import numpy as np
from pivottablejs import pivot_ui

In [7]:
df=pd.read_csv("c:/users/Bill/downloads/Restaurant_Inspection_Scores.csv")

In [8]:
df.head()

,Restaurant Name,Zip Code,Inspection Date,Score,Address,Facility ID,Process Description
0,William Elementary,78748,03/24/2016,98,"500 MAIRO ST\nAUSTIN, TX 78748\n(30.180469, -9...",2800289,Routine Inspection
1,Xian Sushi and Noodle,78723,01/26/2017,73,"1801 E 51ST ST Bldg C\nAUSTIN, TX 78723\n(30.3...",11061849,Routine Inspection
2,Wild Wood Bakehouse,78705,08/06/2015,93,"3016 GUADALUPE ST\nAUSTIN, TX 78705\n(30.29769...",10804059,Routine Inspection
3,Zeta Tau Alpha Sorority,78705,01/21/2015,91,"2711 NUECES ST\nAUSTIN, TX 78705\n(30.292917, ...",2800484,Routine Inspection
4,Wright Bros. Brew and Brew,78702,06/28/2016,91,"500 SAN MARCOS ST\nAUSTIN, TX 78702\n(30.26447...",11008232,Routine Inspection

In [9]:
pivot_ui(df)

In [11]:
df['bin_score']=pd.cut(df.Score,bins=np.arange(30,105,5))

In [13]:
pivot_ui(df[['bin_score','Zip Code']])